body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.calculator {
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 320px;
}
.calculator-screen {
    background-color: #222;
    color: #fff;
    font-size: 2em;
    padding: 15px;
    text-align: right;
    border-bottom: 2px solid #333;
    width: 90%;
}
.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}
.button {
    background-color: #eee;
    border: 1px solid #ccc;
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #ddd;
}
.button.operator {
    background-color: #f9a825;
    color: #fff;
}
.button.operator:hover {
    background-color: #f57f17;
}
.button.double {
    grid-column: span 2;
}
.button.double:hover {
    background-color: #f57f17;
}
.calculator-screen {
    border-radius: 10px 10px 0 0;
}
.bottom-left-radius{
    border-bottom-left-radius: 10px;
}
.bottom-right-radius{
    border-bottom-right-radius: 10px;
}
h1 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
    color: darkblue;
    text-shadow: 4px 4px 10px darkblue;
}
.account-module {
    border: 2px;
    border-radius: 2px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    width: 320px;
}
.account-module input{
    border: 1px;
    border-radius: 2px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}
