{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<style>
    body {
        background-image: url("{% static 'home_wood.jpg' %}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>

<body>
    <div class="layout">
        <div class="navbar-container">
            <nav>
                <ul class="navbar-left">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                </ul>
                <div class="nav-header">
                    <h1>{% block page_title %}{% endblock %}</h1>
                </div>  
                <ul class="navbar-right">
                    <li>
                        <div>
                            {% if user.is_authenticated %}
                            <span class="user_greet" style="margin-right:15px;">Hi, {{ user.first_name }}</span>
                            <a href="{% url 'logout' %}">Logout</a>
                            {% else %}
                            <a href="{% url 'login' %}">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="app-content">
            {% block content %}
    
    
            {% endblock %}
        </div>
    </div>
    <script src="{% static 'bootstrap.bundle.js' %}"></script>
</body>

</html>