{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<style>
    body {
        background-image: url("{% static 'home_new.jpg' %}");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
</style>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="{% url 'register' %}">Register</a>
        <div style="margin-left:auto; display:flex; align-items:center;">
            {% if user.is_authenticated %}
            <span class="user_greet" style="margin-right:15px;">Hi, {{ user.first_name }}</span>
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>
    {% block content %}


    {% endblock %}
</body>

</html>