{% extends 'background.html' %}
{% load static %}

{% block title %}Calender{% endblock %}
{% block page_title %}Calender{% endblock %}

{% block content %}

<div class="calender-header">
    <div>
        <label for="month">Month</label>
        <select class="calender-dropdown" name="month" id="month">
            {% for month in months %}
            <option value="{{ forloop.counter }}" {% if forloop.counter == current_month  %}selected{% endif %}>{{ month }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="year">Year</label>
        <select class="calender-dropdown" name="year" id="year">
            {% for year in years %}
            <option value="{{ year }}" {% if year == current_year  %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="decade">Decade</label>
        <select class="calender-dropdown" name="decade" id="decade">
            {% for decade in decades %}
            <option value="{{ decade }}" {% if decade == current_decade  %}selected{% endif %}>{{ decade }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="app-content">
    <div class="calender-layout">
        {{ calender|safe }}
    </div>
</div>
<script src="{% static 'jquery-3.7.1.min.js' %}"></script>
<script>

    $(document).ready(function(){
        let dateBoxes = document.querySelectorAll('td');
        dateBoxes.forEach(dateBox => {
            if(dateBox.textContent.trim() == '{{ current_day }}'){
                dateBox.style.backgroundColor = '#32CD32';
            }
        });

        $('#month').on('change', function(){
            let selectedMonth = $(this).val();
            let selectedYear = $('#year').val();
            $.ajax({
                type: 'GET',
                url: '{% url "fetch_calender" %}',
                data: {
                    month: selectedMonth,
                    year: selectedYear
                },
                success: function(response){
                    $('.calender-layout').html(response.calender);
                },
                error: function(error){
                    alert(error);
                }
            })
        });

        $('#year').on('change', function(){
            let selectedYear = $(this).val();
            let selectedMonth = $('#month').val();
            $.ajax({
                type: 'GET',
                url: '{% url "fetch_calender" %}',
                data: {
                    month: selectedMonth,
                    year: selectedYear
                },
                success: function(response){
                    $('.calender-layout').html(response.calender);
                },
                error: function(error){
                    alert(error);
                }
            })
        });

        $('#decade').on('change', function(){
            let selectedDecade = $(this).val();
            let yearDropdown = document.getElementById('year');
            $.ajax({
                type: 'GET',
                url: '{% url "fetch_years" %}',
                data: {'selected_decade': selectedDecade},
                success: function(response){
                    yearDropdown.innerHTML = '';
                    response.years.forEach(year => {
                        const option = document.createElement('option');
                        option.value = year
                        option.textContent = year
                        yearDropdown.appendChild(option);
                    });
                },
                error: function(error){
                    alert(error);
                }
            });
        });

    });
</script>

{% endblock %}