{% extends 'background.html' %}
{% load static %}

{% block title %}Calender{% endblock %}
{% block page_title %}Calender{% endblock %}

{% block content %}

<div class="calender-header">
    <div>
        <label for="month">Month</label>
        <select class="calender-dropdown" name="month" id="month">
            {% for month in months %}
            <option value="{{ forloop.counter }}" {% if forloop.counter == current_month %}selected{% endif %}>{{ month }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="year">Year</label>
        <select class="calender-dropdown" name="year" id="year">
            {% for year in years %}
            <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="decade">Decade</label>
        <select class="calender-dropdown" name="decade" id="decade">
            {% for decade in decades %}
            <option value="{{ decade }}" {% if decade == current_decade %}selected{% endif %}>{{ decade }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="app-content" style="display: flex; flex-direction:column;">
    <div class="calender-layout">
        {{ calender|safe }}
    </div>
    <div class="event-layout">
        <div style="justify-content: right; text-align:right; padding: 10px 20px;">
            <button type="button" class="add-button" data-bs-toggle="modal" data-bs-target="#addEventModal" data-bs-backdrop="false">Add Event</button>
        </div>
        <table id="event-table" class="event-table">
            <thead>
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Event Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="addEventModal" aria-labelledby="addEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEventModalLabel">Add New Event</h5>
                <button type="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form id="add-event-form" method="POST">
                    {% csrf_token %}
                    <div class="mb-3"  style="display: flex; flex-direction: row; justify-content:space-around;">
                        <div class="time-dropdown">
                            <label for="add-start-time">Start time</label>
                            <select name="add-start-time" id="add-start-time">
                            </select>
                        </div>
                        <div class="time-dropdown">
                            <label for="add-end-time">End time</label>
                            <select name="add-end-time" id="add-end-time">
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="add-event-description">Event Description</label>
                        <textarea name="add-event-description" id="add-event-description" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="button" class="add-button" id="add-event">Add Event</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="editEventModal" aria-labelledby="editEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEventModalLabel">Edit Event</h5>
                <button type="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-task-form" method="post" action="">
                    {% csrf_token %}
                    <input type="hidden" name="event_id" id="edit-event-id">
                    <div class="mb-3"  style="display: flex; flex-direction: row; justify-content:space-around;">
                        <div class="time-dropdown">
                            <label for="edit-start-time">Start time</label>
                            <select name="edit-start-time" id="edit-start-time">
                            </select>
                        </div>
                        <div class="time-dropdown">
                            <label for="edit-end-time">End time</label>
                            <select name="edit-end-time" id="edit-end-time">
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="edit-event-description">Event Description</label>
                        <textarea name="edit-event-description" id="edit-event-description" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="update-button" id="confirm-edit">Save Event</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="deleteEventModal" aria-labelledby="deleteEventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteEventModalLabel">Delete Event</h5>
                <button type="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id="delete-event-form">
                    {% csrf_token %}
                    <p>Confirm Delete Event</p>
                    <div class="modal-footer">
                        <button class="update-button" type="button" data-bs-dismiss="modal"
                            id="cancel-delete">Cancel</button>
                        <button class="update-button" type="submit" id="confirm-delete"
                            style="background-color: red;">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'jquery-3.7.1.min.js' %}"></script>
<script>

    $(document).ready(function () {
        let eventYear = $('#year').val();
        let eventMonth = $('#month').val();
        let eventDate;
        let currentDate = '{{ current_date }}';
        let dateBoxes = document.querySelectorAll('td');
        dateBoxes.forEach(dateBox => {
            if (dateBox.textContent.trim() == currentDate) {
                dateBox.style.backgroundColor = '#32CD32';
                eventDate = currentDate;
            }else{
                dateBox.style.backgroundColor = '#ddd';
            }
        });

        $('#add-event').on('click', function(e){
            e.preventDefault();
            let event = $('#add-event-description').val();
            let startTime = $('#add-start-time').val();
            let endTime = $('#add-end-time').val();
            $.ajax({
                type: 'POST',
                url: '{% url "add_event" %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'event': event,
                    'start_time': startTime,
                    'end_time': endTime,
                    'event_date': eventDate,
                    'event_month': eventMonth,
                    'event_year': eventYear
                },
                success: function(response){
                    if(response.success){
                        $('#addEventModal').hide();
                        loadEvents(eventYear,eventMonth, eventDate);
                    }else{
                        alert(response.message);
                    }
                },
                error: function(error){
                    $('#addEventModal').hide();
                    alert(error);
                }
            });
        });

        loadEvents(eventYear, eventMonth, eventDate);

        $('#month').on('change', function () {
            let selectedMonth = $(this).val();
            let selectedYear = $('#year').val();
            $.ajax({
                type: 'GET',
                url: '{% url "fetch_calender" %}',
                data: {
                    month: selectedMonth,
                    year: selectedYear
                },
                success: function (response) {
                    $('.calender-layout').html(response.calender);
                },
                error: function (error) {
                    alert(error);
                }
            })
        });

        $('#year').on('change', function () {
            let selectedYear = $(this).val();
            let selectedMonth = $('#month').val();
            $.ajax({
                type: 'GET',
                url: '{% url "fetch_calender" %}',
                data: {
                    month: selectedMonth,
                    year: selectedYear
                },
                success: function (response) {
                    $('.calender-layout').html(response.calender);
                },
                error: function (error) {
                    alert(error);
                }
            })
        });

        $('#decade').on('change', function () {
            let selectedDecade = $(this).val();
            let yearDropdown = document.getElementById('year');
            $.ajax({
                type: 'GET',
                url: '{% url "fetch_years" %}',
                data: { 'selected_decade': selectedDecade },
                success: function (response) {
                    yearDropdown.innerHTML = '';
                    response.years.forEach(year => {
                        const option = document.createElement('option');
                        option.value = year
                        option.textContent = year
                        yearDropdown.appendChild(option);
                    });
                },
                error: function (error) {
                    alert(error);
                }
            });
        });

        $(document).on('click', '.calender-layout td', function () {
            eventYear = $('#year').val();
            eventMonth = $('#month').val();
            eventDate = $(this).text();
            let customDateBoxes = document.querySelectorAll('td');
            customDateBoxes.forEach(dateBox => {
                if (dateBox.textContent.trim() == eventDate) {
                    currentDate = eventDate;
                    dateBox.style.backgroundColor = '#32CD32';
                }else{
                    dateBox.style.backgroundColor = '#ddd';
                }
            });
            loadEvents(eventYear, eventMonth, eventDate);
        });

        function loadEvents(year,month, date){
            $.ajax({
                method: 'GET',
                url: '{% url "fetch_events" %}',
                data: {
                    'event_year': year,
                    'event_month': month,
                    'event_date': date
                },
                success: function(response){
                    $('#event-table tbody').empty();
                    if(response.success && response.events.length > 0 && Array.isArray(response.events)){
                        response.events.forEach(function(event){
                            let row = $('<tr></tr>');
                            let eventStartTimeCell = $('<td id="start-time"></td>').text(event.start_time);
                            let eventEndTimeCell = $('<td id="end-time"></td>').text(event.end_time);
                            let eventDescriptionCell = $('<td id="event"></td>').text(event.event);
                            let eventActionCell = $('<td style="justify-content:center;text-align:center;"></td>').html(`
                            <a href="" class="btn btn-link" style="margin-right:10px;text-align:center;"
                                data-id="${event.id}" id="edit-btn">
                                <i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#editEventModal"></i>
                            </a>
                            <a href="" class="btn btn-link ml-2" id="delete-btn"
                                style="margin-right:10px;text-align:center;" data-id="${event.id}">
                                <i class="fas fa-trash" data-bs-toggle="modal" data-bs-target="#deleteEventModal"></i>
                            </a>`);
    
                            row.append(eventStartTimeCell);
                            row.append(eventEndTimeCell);
                            row.append(eventDescriptionCell);
                            row.append(eventActionCell);
    
                            $('#event-table tbody').append(row);
    
                        });
                    }
                    
                },
                error: function(error){
                    alert(error);
                }
            });
        }

        function timeSlots(){
            let timeSlots = [];
            for(let hour=0; hour<24; hour++){
                for(let minute=0; minute<60; minute+=30){
                    const formatedHour = String(hour).padStart(2, '0');
                    const formatedMinute = String(minute).padStart(2, '0');
                    timeSlots.push(`${formatedHour}:${formatedMinute}`);
                }
            }
            return timeSlots;
        }

        let editEventId;
        $(document).on('click', '#edit-btn', function(e){
            e.preventDefault();
            editEventId = $(this).closest('a').data('id');
            let row = $(this).closest('tr');
            let startTime = row.find('#start-time').text();
            let endTime = row.find('#end-time').text();
            let eventDescription = row.find('#event').text();
            $('#edit-event-description').val(eventDescription);
            $('#editEventModal').show();
            populateEditTimeSlots(startTime,endTime);
        });

        $('#confirm-edit').on('click', function(e){
            e.preventDefault();
            let event = $('#edit-event-description').val();
            let startTime = $('#edit-start-time').val();
            let endTime = $('#edit-end-time').val();
            $.ajax({
                type: 'POST',
                url: '{% url "edit_event" %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id': editEventId,
                    'event': event,
                    'start_time': startTime,
                    'end_time': endTime,
                },
                success: function(response){
                    if(response.success){
                        loadEvents(eventYear,eventMonth, eventDate);
                        $('#editEventModal').hide();
                    }else{
                        alert(response.message);
                    }
                },
                error: function(error){
                    $('#editEventModal').hide();
                    alert(error);
                }
            });
        });

        let deleteEventId;
        $(document).on('click', '#delete-btn', function(e){
            e.preventDefault();
            deleteEventId = $(this).closest('a').data('id');
            $('#deleteEventModal').show();
        });

        $(document).on('click', '#confirm-delete', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "delete_event" %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'id': deleteEventId,
                },
                success: function(response){
                    if(response.success){
                        loadEvents(eventYear,eventMonth, eventDate);
                        $('#deleteEventModal').hide();
                    }
                },
                error: function(error){
                    $('#deleteEventModal').modal('hide');
                    alert(error);
                }
            });
        });

        const timeArray = timeSlots();
        function populateAddTimeSlots(){
            $('#add-start-time').html(generateTimeSlots(timeArray));
            $('#add-end-time').html(generateTimeSlots(timeArray));
        }

        function populateEditTimeSlots(startTime, endTime){
            $('#edit-start-time').html(generateEditTimeSlots(timeArray, startTime.slice(0,-3)));
            $('#edit-end-time').html(generateEditTimeSlots(timeArray, endTime.slice(0,-3)));
        }

        function generateEditTimeSlots(timeArray, selectedTime){
            return timeArray.map(time => `<option value="${time}" ${time==selectedTime ? 'selected': ''}>${time}</option>`);
        }

        function generateTimeSlots(timeArray){
            return timeArray.map(time => `<option value="${time}">${time}</option>`).join('');
        }

        $('#addEventModal').on('show.bs.modal', function(){
            populateAddTimeSlots();
            $('#add-event-description').val('');
        });

        $('.modal').on('hidden.bs.modal', function(){
            $('.modal-backdrop').remove();
            $('body').removeClass('modal-open');
        });

    });
</script>

{% endblock %}