{% extends 'background.html' %}
{% load static %}

{% block title %}Files{% endblock %}
{% block page_title %}Files{% endblock %}

{% block content %}

    <div style="display:flex; justify-content:space-between;">
        <div style="justify-content:left; text-align:left; margin-left:50px;">
            <a href class="add-button" style="text-decoration:none; font-size:20px; text-align:center;" id="back">
                <i class="fas fa-arrow-left"></i>
            </a>
            <a href="{% url 'files' %}" class="add-button" id="home" style="margin-left: 10px;font-size:20px; text-align:center;">
                <i class="fas fa-home"></i>
            </a>
        </div>
        <div style="justify-content:right; text-align:right; margin-right: 30px;">
            <button class="add-button" style="margin-right: 10px;" id="addFile" data-bs-toggle="modal" data-bs-target="#fileModal">Add File</button>
            <button class="add-button" id="addFolder" data-bs-toggle="modal" data-bs-target="#addFolderModal">Add Folder</button>
        </div>
    </div>
    <div class="grid-container">
        {% for folder in folders %}
        <div class="file-tile">
            <div class="tile-header">
                <input type="hidden" id="upfolderId" style="display: none;" data-id="{{ folder.parent_folder.id }}" hidden>
                <a class="btn btn-link" data-id="{{ folder.id }}" id="editFolder">
                    <i class="fas fa-edit" data-bs-toggle="modal" data-bs-target="#editFolderModal"></i>
                </a>
                <a class="btn btn-link ml-2" id="deleteFolder" data-id="{{ folder.id }}">
                    <i class="fas fa-trash" data-bs-toggle="modal" data-bs-target="#deleteFolderModal"></i>
                </a>
            </div>
            <a href="files={{ folder.id }}" class="tile-body" id="folder" data-id="{{ folder.id }}">
                <i class="fas fa-folder"></i>
            </a>
            <div class="tile-footer">
                <p class="file-name">{{ folder.name }}</p>
                <p class="file-date">Last updated: {{ folder.updated_at }}</p>
            </div>
        </div> 
        {% endfor %}
        {% for file in files %}
        <div class="file-tile">
            <div class="tile-header">
                <a href="{{ file.url }}" download="{{ file.name }}" class="btn btn-link" data-id="{{ file.id }}" id="downloadFile">
                    <i class="fas fa-download"></i>
                </a>
                <a class="btn btn-link ml-2" id="deleteFile" data-id="{{ file.id }}">
                    <i class="fas fa-trash" data-bs-toggle="modal" data-bs-target="#deleteFileModal"></i>
                </a>
            </div>
            <a class="tile-body" href="{{ file.url }}" id="file" data-id="{{ file.id }}">
                <i class="fas fa-file"></i>
            </a>
            <div class="tile-footer">
                <p class="file-name">{{ file.name }}</p>
                <p class="file-date">Last updated: {{ file.updated_at }}</p>
            </div>
        </div> 
        {% endfor %}
    </div>
    <div class="modal fade" tabindex="-1" id="fileModal" aria-labelledby="fileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileModalLabel">Add File</h5>
                    <button type="close" class="btn-close" id="close-note" data-bs-dismiss="modal" aria-label="Close"></button>                
                </div>
                <form id="add-file" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="mb-3">
                            <input type="text" id="file-name" name="name" class="form-control" placeholder="Name" required>
                        </div>
                        <div class="mb-3" id="file-upload">
                            <input class="form-control" id="uploaded-file" type="file" name="file" accept=".txt, .pdf, .png, .jpg, .jpeg, .mp4, .mov, .webm, .doc, .docx, .xls, .xlsx" required>
                            <h5 style="font-size: 12px; font-weight: bold; margin-top: 20px;">Supported File Types: jpeg, png, txt, doc, docx, pdf, mp4, mov, webm, xlsx, xls</h5>
                            <h5 style="font-size: 12px; font-weight: bold; margin-top: 0px;">Max File Size: 10MB</h5>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button class="add-button" type="submit">Add</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="addFolderModal" aria-labelledby="addFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addFolderModalLabel">Add Folder</h5>
                <button type="close" class="btn-close" id="close-note" data-bs-dismiss="modal" aria-label="Close"></button>                
            </div>
            <form id="add-folder">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" id="add-folder-name" name="add-folder-name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button class="add-button" type="submit" id="add-folder">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="editFolderModal" aria-labelledby="editFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editFolderModalLabel">Edit Folder</h5>
                <button type="close" class="btn-close" id="close-note" data-bs-dismiss="modal" aria-label="Close"></button>                
            </div>
            <form id="edit-folder">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="text" id="folder-name" name="folder-name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <div>
                        <button class="add-button" type="submit" id="save-folder">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="deleteFolderModal" aria-labelledby="deleteFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteFolderModalLabel">Delete Folder</h5>
                <button type="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Confirm to delete the folder</p>
                <div class="modal-footer">
                    <button class="update-button" type="button" data-bs-dismiss="modal">Cancel</button>
                    <button class="update-button" type="submit" id="confirm-delete-folder" style="background-color: red;">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="deleteFileModal" aria-labelledby="deleteFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteFileModalLabel">Delete File</h5>
                <button type="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Confirm to delete the file</p>
                <div class="modal-footer">
                    <button class="update-button" type="button" data-bs-dismiss="modal">Cancel</button>
                    <button class="update-button" type="submit" id="confirm-delete-file" style="background-color: red;">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'jquery-3.7.1.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        let currentFolderId = $('#upfolderId').data('id');
        if(currentFolderId){
            localStorage.setItem('currentFolderId', currentFolderId);
        }
        $('#back').attr('href',`back=${localStorage.getItem('currentFolderId')}`);
        const currentUrl = window.location.pathname;
        if(currentUrl == '{% url "files" %}'){
            localStorage.setItem('currentFolderId', "");
            $('#back').remove();
            $('#home').remove();
        }
    });

    $(document).ready(function(){

        $(document).on('click', '#addFolder', function(){
            $('#add-folder-name').val('');
        });

        $(document).on('click', '#addFile', function(){
            $('#file-name').val('');
            $('#file').val('');
        });

        $(document).on('click', '#folder', function(){
            let currentFolderId = $(this).closest('a').data('id');
            localStorage.setItem('currentFolderId', currentFolderId);
        });

        $('#add-file').on('submit', function(e){
            e.preventDefault();
            let parent_folder_id = localStorage.getItem('currentFolderId');
            const ALLOWED_FILE_TYPES = [
                'image/png',
                'image/jpeg',
                'application/pdf',
                'text/plain',
                'video/mp4',
                'video/quicktime',
                'video/webm',
                'application/msword',
                'application/vnd.openxmlformats-officedocument.wordprocessingml.document',
                'application/vnd.ms-excel',
                'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
            ];
            const MAX_FILE_SIZE = 10 * 1024 * 1024;
            let fileInput = document.getElementById('uploaded-file');
            let file = fileInput.files[0];
            if(ALLOWED_FILE_TYPES.includes(file.type) && file.size < MAX_FILE_SIZE){
                let formData = new FormData(this);
                formData.append('parent_folder_id', parent_folder_id);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                $.ajax({
                    url: '{% url "add_file" %}',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response){
                        if(response.success){
                            location.reload();
                        }else{
                            $('#file-name').val('');
                            $('#uploaded-file').val('');
                            alert(response.message);
                        }
                    },
                    error: function(error){
                        alert(String(error.message));
                    }
                });
            }else{
                alert('Unsupported file type or file size');
            }
            
        });

        $(document).on('submit', '#add-folder', function(){
            let folderName = $('#add-folder-name').val();
            let parent_folder_id = localStorage.getItem('currentFolderId');
            $.ajax({
                type: 'POST',
                url: "{% url 'add_folder' %}",
                data: {
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                    'folder_name': folderName,
                    'parent_folder_id': parent_folder_id
                },
                success: function(response){
                    if(response.success){
                        location.reload();
                    }else{
                        $('#add-folder-name').val('');
                        alert(response.message);
                    }
                },
                error: function(error){
                    alert(error)
                }
            });
        });

        let editFolderId;
        $(document).on('click', '#editFolder', function(){
            editFolderId = $(this).closest('a').data('id');
            let folderName = $(this).closest('.file-tile').find('.file-name').text();
            $('#folder-name').val(folderName);
        });

        $(document).on('submit', '#edit-folder', function(){
            let folderName = $('#folder-name').val();
            let parent_folder_id = localStorage.getItem('currentFolderId');
            $.ajax({
                type: 'POST',
                url: "{% url 'edit_folder' %}",
                data: {
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                    'folder_id': editFolderId,
                    'folder_name': folderName,
                    'parent_folder_id': parent_folder_id
                },
                success: function(response){
                    if(response.success){
                        location.reload();
                    }else{
                        $('#folder-name').val('');
                        alert(response.message);
                    }
                },
                error: function(error){
                    alert(error)
                }
            });
        });

        let deleteFolderId;
        $(document).on('click', '#deleteFolder', function(){
            deleteFolderId = $(this).closest('a').data('id');
        });

        $(document).on('click', '#confirm-delete-folder', function(){
            $.ajax({
                type: 'POST',
                url: "{% url 'delete_folder' %}",
                data: {
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                    folder_id: deleteFolderId
                },
                success: function(response){
                    if(response.success){
                        location.reload();
                    }else{
                        alert('Error deleting folder')
                    }   
                },
                error: function(error){
                    alert(error)
                }
            })
        });

        let deleteFileId;
        $(document).on('click', '#deleteFile', function(){
            deleteFileId = $(this).closest('a').data('id');
        });

        $(document).on('click', '#confirm-delete-file', function(){
            $.ajax({
                type: 'POST',
                url: "{% url 'delete_file' %}",
                data: {
                    'csrfmiddlewaretoken': "{{ csrf_token }}",
                    file_id: deleteFileId
                },
                success: function(response){
                    if(response.success){
                        location.reload();
                    }else{
                        alert('Error deleting file');
                    }   
                },
                error: function(error){
                    alert(error)
                }
            })
        });

    });

</script>

{% endblock %}