{% extends 'background.html' %}
{% load static %}

{% block title %}Notes{% endblock %}
{% block page_title %}Notes{% endblock %}

{% block content %}

<div class="grid-container">
    <div class="note-tile add-note" data-bs-toggle="modal" data-bs-target="#noteModal" data-id="">
        <i class="fas fa-plus"></i>
    </div>
    {% for note in notes %}
    <div class="note-tile" data-bs-toggle="modal" data-bs-target="#noteModal" data-id="{{ note.id }}">
        <div>
            <i class="fas fa-file-alt"></i>
        </div>
        <div class="note-details">
            <div class="note-name">{{ note.name }}</div>
            <div class="note-date">Last updated: {{ note.updated_at }}</div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="modal fade" tabindex="-1" id="noteModal" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <input type="text" id="name" class="form-control" placeholder="Note Name">
                <button type="close" class="btn-close" id="close-note" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <textarea name="content" id="content" class="form-control" rows="10"
                        placeholder="Your Note Here..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button class="update-button" type="submit" id="confirm-delete"
                            style="background-color: red;">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'jquery-3.7.1.min.js' %}"></script>
<script>
    $(document).ready(function () {
        let currentNoteId = null;
        let intialNoteName, initialNoteContent;
        $('.note-tile').click(function () {
            currentNoteId = $(this).data('id');
            if (currentNoteId != "") {
                $.ajax({
                    type: 'GET',
                    url: '{% url "get_note" %}',
                    data: {
                        id: currentNoteId
                    },
                    success: function(response){
                        $('#name').val(response.name);
                        $('#content').val(response.content);
                        $('#confirm-delete').show();
                        intialNoteName = response.name;
                        initialNoteContent = response.content;
                    },
                    error: function(error){
                        alert('Error while fetching the note');
                    }
                }); 
            } else {
                currentNoteId = null;
                $('#name').val('');
                $('#content').val('');
                $('#confirm-delete').hide();
                intialNoteName = '';
                initialNoteContent = '';
            }
        });

        $('#close-note').on('click', function(){
            const noteName = $('#name').val().trim();
            const noteContent = $('#content').val().trim();
            if(noteName != intialNoteName || noteContent != initialNoteContent){
                $.ajax({
                    type: 'POST',
                    url: '{% url "save_note" %}',
                    data: {
                        id: currentNoteId,
                        name: noteName,
                        content: noteContent,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response){
                        if(response.status == 'success'){
                            location.reload();
                        }else{
                            alert(response.message)
                        }      
                    },
                    error: function(error){
                        alert('Error while saving the note');
                    }
                });
            }
        });

        $('#confirm-delete').on('click', function(){
            $.ajax({
                type: 'POST',
                url: '{% url "delete_note" %}',
                data: {
                    id: currentNoteId,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response){
                    location.reload();
                },
                error: function(error){
                    alert('Error while deleting the note');
                }
            });
        });
    });
</script>

{% endblock %}