{% extends 'background.html' %}
{% load static %}

{% block title %}Notes{% endblock %}
{% block page_title %}Notes{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="note-tile add-note" data-bs-toggle="modal" data-bs-target="#noteModal">
        <i class="fas fa-plus"></i>
    </div>
    {% for note in notes %}
    <div class="note-tile" data-bs-toggle="modal" data-bs-target="#noteModal">
        <div>
            <i class="fas fa-file-alt"></i>
        </div>
        <div class="note-details">
            <div class="note-name">TestL</div>
            <div class="note-date">Last updated: {{ note.updated_at }}</div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="modal fade" tabindex="-1" id="noteModal" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="mb-3">
                    <input type="text" id="name" class="form-control" placeholder="Name">
                </div>
                <button type="close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <textarea name="content" id="content" class="form-control" rows="10"
                        placeholder="Your Note..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button class="update-button" type="submit" id="confirm-delete"
                        style="background-color: red;">Delete</button>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'jquery-3.7.1.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('.note-tile').click(function () {
            const noteId = $(this).data('id');
            if (noteId) {
                $.ajax({
                    url: '/get_note/',
                    method: 'GET',
                    data: { id: noteId },
                    success: function (response) {
                        $('#name').val(response.name);
                        $('#content').val(response.note);
                    }
                });
            } else {
                $('#name').val('');
                $('#content').val('');
            }
            $('#noteModal').hide();
        });
    });
</script>


{% endblock %}