{% extends 'background.html' %}

{% block title %}Todo-List{% endblock %}
{% block page_title %}Todo-List{% endblock %}

{% block content %}

<div class="todo-layout">
    <table class="todo-grid">
        <thead>
            <tr>
                <th>Status</th>
                <th>Task Description</th>
                <th>Priority</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    
</div>

{% endblock %}